<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzz.mapper.bill.BillMapper">

    <select id="getBillCountByProviderId" parameterType="Integer" resultType="int">
        select count(*) from smbms_bill where
        <if test="providerId != null">providerId= #{providerId}</if>
    </select>

    <insert id="add" parameterType="bill">
        insert into smbms_bill(billCode,productName,productDesc,productUnit,productCount,totalPrice,isPayment,createdBy,creationDate,providerId)
        values(#{billCode},#{productName},#{productDesc},#{productUnit},#{productCount},#{totalPrice},#{isPayment},#{createdBy},#{creationDate},#{providerId})
    </insert>


    <select id="getBillList" resultType="bill">
        select s.*,p.proName from smbms_bill s,smbms_provider p
        <where>
            s.providerId=p.id
            <if test="provideName != null">and p.proName like concat('%',#{provideName},'%')</if>
            <if test="providerId != null">and providerId like concat('%',#{providerId},'%')</if>
            <if test="isPayment != null">and isPayment = #{isPayment}</if>
        </where>
         limit #{from},#{pageSize}
    </select>

    <select id="getBillCount" resultType="int">
        select count(*) from smbms_bill
        <where>
            <if test="productName != null">productName = #{productName}</if>
            <if test="providerId != null">and providerId = #{providerId}</if>
        </where>
    </select>

    <delete id="deleteBillById" parameterType="Integer">
        delete from smbms_bill where
        <if test="id != null">id = #{id}</if>
    </delete>

    <select id="getBillById" parameterType="Integer" resultType="bill">
        select * from smbms_bill where
        <if test="id != null">id = #{id}</if>
    </select>

    <update id="modify" parameterType="bill">
        update smbms_bill
        <set>
            <if test="billCode !=null">billCode=#{billCode},</if>
            <if test="productName !=null">productName=#{productName},</if>
            <if test="productUnit !=null">productUnit=#{productUnit},</if>
            <if test="productCount !=null">productCount=#{productCount},</if>
            <if test="totalPrice !=null">totalPrice=#{totalPrice},</if>
            <if test="isPayment !=null">isPayment=#{isPayment},</if>
            <if test="modifyBy !=null">modifyBy=#{modifyBy},</if>
            <if test="modifyDate !=null">modifyDate=#{modifyDate},</if>
            <if test="providerId !=null">providerId=#{providerId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteBillByProviderId" parameterType="Integer">
        delete from smbms_bill where
        <if test="providerId != null">providerId = #{providerId}</if>
    </delete>
</mapper>